In [1]:
import pandas as pd

In [11]:
import_path = "../../PLUTO/data.csv"

In [12]:
data_df = pd.read_csv(import_path)

In [13]:
data_df.head()

   zipcode  landuse  bldgarea  numfloors  yearbuilt
0  10019.0      5.0   57805.0        3.0     1920.0
1  10019.0      7.0  105562.0        0.0     2002.0
2  10023.0      3.0  225552.0       24.0     1968.0
3  10019.0      6.0   36184.0        4.0     1946.0
4  11219.0      2.0    3600.0        2.0     1930.0

In [14]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 859465 entries, 0 to 859464
Data columns (total 5 columns):
zipcode      838521 non-null float64
landuse      856535 non-null float64
bldgarea     858968 non-null float64
numfloors    857908 non-null float64
yearbuilt    858986 non-null float64
dtypes: float64(5)
memory usage: 32.8 MB

In [15]:
data_df.dropna(inplace=True)

In [16]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 835904 entries, 0 to 859464
Data columns (total 5 columns):
zipcode      835904 non-null float64
landuse      835904 non-null float64
bldgarea     835904 non-null float64
numfloors    835904 non-null float64
yearbuilt    835904 non-null float64
dtypes: float64(5)
memory usage: 38.3 MB

In [17]:
data_df.to_csv("data.csv")