In [12]:
# SQL Alchemy
import pandas as pd

from sqlalchemy import create_engine
from sqlalchemy import inspect
from sqlalchemy.orm import Session
from sqlalchemy.ext.automap import automap_base

database_path = "db/bellybutton.sqlite"

In [2]:
# Create Engine
engine = create_engine(f"sqlite:///{database_path}")

# Create the inspector and connect it to the engine
inspector = inspect(engine)

In [3]:
# Collect the names of tables within the database
inspector.get_table_names()

['sample_metadata', 'samples']

In [4]:
# Conncetion
conn = engine.connect()

# Query All Records in the the Database
data = pd.read_sql("SELECT * FROM samples", conn)

In [5]:
data.head()

,otu_id,otu_label,940,941,943,944,945,946,947,948,...,1562,1563,1564,1572,1573,1574,1576,1577,1581,1601
0,1,Archaea;Euryarchaeota;Halobacteria;Halobacteri...,0,0,0,0,0,0,0,0.0,...,0,0,0,0,0,0,0,0,0,0
1,2,Archaea;Euryarchaeota;Halobacteria;Halobacteri...,0,0,0,0,0,0,0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,3,Archaea;Euryarchaeota;Halobacteria;Halobacteri...,0,0,0,0,0,0,0,0.0,...,0,0,0,0,0,0,0,0,0,0
3,4,Archaea;Euryarchaeota;Methanobacteria;Methanob...,0,0,0,0,0,0,0,0.0,...,0,0,0,0,0,0,0,0,0,0
4,5,Archaea;Euryarchaeota;Methanobacteria;Methanob...,0,0,0,0,0,0,0,0.0,...,0,0,0,0,0,0,0,0,0,0

In [22]:
sample = "940"

In [9]:
# Create a session
session = Session(engine)

In [13]:
# Declare a Base using `automap_base()`
Base = automap_base()

In [14]:
# Use the Base class to reflect the database tables
Base.prepare(engine, reflect=True)

In [15]:
# Print all of the classes(tables) mapped to the Base
Base.classes.keys()

['sample_metadata', 'samples']

In [16]:
# Assign the samples class to a variable called `Samples`
Samples = Base.classes.samples

In [17]:
stmt = session.query(Samples).statement
df = pd.read_sql_query(stmt, session.bind)

In [19]:
df.head(10)

,otu_id,otu_label,940,941,943,944,945,946,947,948,...,1562,1563,1564,1572,1573,1574,1576,1577,1581,1601
0,1,Archaea;Euryarchaeota;Halobacteria;Halobacteri...,0,0,0,0,0,0,0,0.0,...,0,0,0,0,0,0,0,0,0,0
1,2,Archaea;Euryarchaeota;Halobacteria;Halobacteri...,0,0,0,0,0,0,0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,3,Archaea;Euryarchaeota;Halobacteria;Halobacteri...,0,0,0,0,0,0,0,0.0,...,0,0,0,0,0,0,0,0,0,0
3,4,Archaea;Euryarchaeota;Methanobacteria;Methanob...,0,0,0,0,0,0,0,0.0,...,0,0,0,0,0,0,0,0,0,0
4,5,Archaea;Euryarchaeota;Methanobacteria;Methanob...,0,0,0,0,0,0,0,0.0,...,0,0,0,0,0,0,0,0,0,0
5,6,Archaea;Euryarchaeota;Methanobacteria;Methanob...,0,0,0,0,0,0,0,0.0,...,0,0,0,0,0,0,0,0,0,0
6,7,Bacteria,0,0,0,0,0,0,0,0.0,...,0,0,0,0,0,0,0,0,0,0
7,8,Bacteria,0,0,0,0,0,0,0,0.0,...,0,0,1,0,0,0,0,0,0,0
8,9,Bacteria,0,0,0,0,0,1,0,0.0,...,0,0,0,0,0,0,0,0,0,0
9,10,Bacteria,0,0,0,0,0,0,0,0.0,...,0,0,0,0,0,0,0,0,0,0

In [32]:
# Filter the data based on the sample number and
# only keep rows with values above 1
sample_data = df.loc[df[sample] > 1, ["otu_id", "otu_label", sample]]

# Sort by sample
sample_data.sort_values(by=sample, ascending=False, inplace=True)

# Format the data to send as json
data = {
    "otu_ids": sample_data.otu_id.values.tolist(),
    "sample_values": sample_data[sample].values.tolist(),
    "otu_labels": sample_data.otu_label.tolist(),
}

In [31]:
sample_data

      otu_id                                          otu_label  940
1166    1167  Bacteria;Bacteroidetes;Bacteroidia;Bacteroidal...  163
2858    2859  Bacteria;Firmicutes;Clostridia;Clostridiales;I...  126
481      482                                           Bacteria  113
2263    2264  Bacteria;Firmicutes;Clostridia;Clostridiales;I...   78
40        41                                           Bacteria   71
1188    1189  Bacteria;Bacteroidetes;Bacteroidia;Bacteroidal...   51
351      352                                           Bacteria   50
188      189                                           Bacteria   47
2317    2318  Bacteria;Firmicutes;Clostridia;Clostridiales;I...   40
1976    1977       Bacteria;Firmicutes;Clostridia;Clostridiales   40
3449    3450  Bacteria;Proteobacteria;Epsilonproteobacteria;...   37
873      874  Bacteria;Actinobacteria;Actinobacteria;Actinom...   36
1958    1959                     Bacteria;Firmicutes;Clostridia   30
2190    2191  Bacteria;Firmicutes;Clostridia;Clostridiales;I...   28
1949    1950                     Bacteria;Firmicutes;Clostridia   25
2076    2077       Bacteria;Firmicutes;Clostridia;Clostridiales   23
2274    2275  Bacteria;Firmicutes;Clostridia;Clostridiales;I...   22
943      944  Bacteria;Actinobacteria;Actinobacteria;Actinom...   19
2183    2184  Bacteria;Firmicutes;Clostridia;Clostridiales;I...   19
2243    2244  Bacteria;Firmicutes;Clostridia;Clostridiales;I...   14
2023    2024       Bacteria;Firmicutes;Clostridia;Clostridiales   13
2418    2419  Bacteria;Firmicutes;Clostridia;Clostridiales;I...   13
2810    2811  Bacteria;Firmicutes;Clostridia;Clostridiales;I...   13
164      165                                           Bacteria   12
2781    2782  Bacteria;Firmicutes;Clostridia;Clostridiales;I...   12
2246    2247  Bacteria;Firmicutes;Clostridia;Clostridiales;I...   11
2010    2011       Bacteria;Firmicutes;Clostridia;Clostridiales   11
2395    2396  Bacteria;Firmicutes;Clostridia;Clostridiales;I...   11
829      830  Bacteria;Actinobacteria;Actinobacteria;Actinom...   10
2963    2964  Bacteria;Firmicutes;Clostridia;Clostridiales;V...   10
...      ...                                                ...  ...
2474    2475  Bacteria;Firmicutes;Clostridia;Clostridiales;I...    2
2490    2491  Bacteria;Firmicutes;Clostridia;Clostridiales;I...    2
2290    2291  Bacteria;Firmicutes;Clostridia;Clostridiales;I...    2
158      159                                           Bacteria    2
2570    2571  Bacteria;Firmicutes;Clostridia;Clostridiales;I...    2
2349    2350  Bacteria;Firmicutes;Clostridia;Clostridiales;I...    2
2341    2342  Bacteria;Firmicutes;Clostridia;Clostridiales;I...    2
2545    2546  Bacteria;Firmicutes;Clostridia;Clostridiales;I...    2
724      725  Bacteria;Actinobacteria;Actinobacteria;Actinom...    2
169      170                                           Bacteria    2
1504    1505                                Bacteria;Firmicutes    2
512      513                                           Bacteria    2
258      259                                           Bacteria    2
1168    1169  Bacteria;Bacteroidetes;Bacteroidia;Bacteroidal...    2
257      258                                           Bacteria    2
1231    1232  Bacteria;Bacteroidetes;Bacteroidia;Bacteroidal...    2
1496    1497                                Bacteria;Firmicutes    2
1497    1498                                Bacteria;Firmicutes    2
1502    1503                                Bacteria;Firmicutes    2
411      412                                           Bacteria    2
2234    2235  Bacteria;Firmicutes;Clostridia;Clostridiales;I...    2
1959    1960                     Bacteria;Firmicutes;Clostridia    2
1967    1968                     Bacteria;Firmicutes;Clostridia    2
120      121                                           Bacteria    2
2064    2065       Bacteria;Firmicutes;Clostridia;Clostridiales    2
339      340                                           Bacteria    2
2109    2110       Bacteria;Firmicutes;Clostridia;Clostridiales    2
2187    2188  Bacteria;Firmicutes;Clostridia;Clostridiales;I...    2
356      357                                           Bacteria    2
341      342                                           Bacteria    2

[80 rows x 3 columns]

In [33]:
data

{'otu_ids': [1167,
  2859,
  482,
  2264,
  41,
  1189,
  352,
  189,
  2318,
  1977,
  3450,
  874,
  1959,
  2191,
  1950,
  2077,
  2275,
  944,
  2184,
  2244,
  2024,
  2419,
  2811,
  165,
  2782,
  2247,
  2011,
  2396,
  830,
  2964,
  1795,
  2722,
  307,
  2178,
  2908,
  1193,
  2167,
  1208,
  2039,
  1274,
  2739,
  2737,
  1314,
  1962,
  2186,
  2335,
  2936,
  907,
  833,
  2483,
  2475,
  2491,
  2291,
  159,
  2571,
  2350,
  2342,
  2546,
  725,
  170,
  1505,
  513,
  259,
  1169,
  258,
  1232,
  1497,
  1498,
  1503,
  412,
  2235,
  1960,
  1968,
  121,
  2065,
  340,
  2110,
  2188,
  357,
  342],
 'sample_values': [163,
  126,
  113,
  78,
  71,
  51,
  50,
  47,
  40,
  40,
  37,
  36,
  30,
  28,
  25,
  23,
  22,
  19,
  19,
  14,
  13,
  13,
  13,
  12,
  12,
  11,
  11,
  11,
  10,
  10,
  10,
  8,
  7,
  7,
  7,
  6,
  5,
  5,
  5,
  4,
  4,
  4,
  3,
  3,
  3,
  3,
  3,
  3,
  3,
  2,
  2,
  2,
  2,
  2,
  2,
  2,
  2,
  2,
  2,
  2,
  2,
  2,
  2,
  2,
  2,
  2,
  2,
  2,
  2,
  2,
  2,
  2,
  2,
  2,
  2,
  2,
  2,
  2,
  2,
  2],
 'otu_labels': ['Bacteria;Bacteroidetes;Bacteroidia;Bacteroidales;Porphyromonadaceae;Porphyromonas',
  'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Peptoniphilus',
  'Bacteria',
  'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI',
  'Bacteria',
  'Bacteria;Bacteroidetes;Bacteroidia;Bacteroidales;Porphyromonadaceae;Porphyromonas',
  'Bacteria',
  'Bacteria',
  'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Anaerococcus',
  'Bacteria;Firmicutes;Clostridia;Clostridiales',
  'Bacteria;Proteobacteria;Epsilonproteobacteria;Campylobacterales;Campylobacteraceae;Campylobacter',
  'Bacteria;Actinobacteria;Actinobacteria;Actinomycetales;Actinomycetaceae;Varibaculum',
  'Bacteria;Firmicutes;Clostridia',
  'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI',
  'Bacteria;Firmicutes;Clostridia',
  'Bacteria;Firmicutes;Clostridia;Clostridiales',
  'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI',
  'Bacteria;Actinobacteria;Actinobacteria;Actinomycetales;Corynebacteriaceae;Corynebacterium',
  'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI',
  'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI',
  'Bacteria;Firmicutes;Clostridia;Clostridiales',
  'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Anaerococcus',
  'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Peptoniphilus',
  'Bacteria',
  'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Peptoniphilus',
  'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI',
  'Bacteria;Firmicutes;Clostridia;Clostridiales',
  'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Anaerococcus',
  'Bacteria;Actinobacteria;Actinobacteria;Actinomycetales',
  'Bacteria;Firmicutes;Clostridia;Clostridiales;Veillonellaceae',
  'Bacteria;Firmicutes;Bacilli;Bacillales;Staphylococcaceae;Staphylococcus',
  'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Finegoldia',
  'Bacteria',
  'Bacteria;Firmicutes;Clostridia;Clostridiales',
  'Bacteria;Firmicutes;Clostridia;Clostridiales;Peptococcaceae;Peptococcus',
  'Bacteria;Bacteroidetes;Bacteroidia;Bacteroidales;Porphyromonadaceae;Porphyromonas',
  'Bacteria;Firmicutes;Clostridia;Clostridiales',
  'Bacteria;Bacteroidetes;Bacteroidia;Bacteroidales;Porphyromonadaceae;Porphyromonas',
  'Bacteria;Firmicutes;Clostridia;Clostridiales',
  'Bacteria;Bacteroidetes;Bacteroidia;Bacteroidales;Prevotellaceae',
  'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Gallicola',
  'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Gallicola',
  'Bacteria;Bacteroidetes;Bacteroidia;Bacteroidales;Prevotellaceae;Prevotella',
  'Bacteria;Firmicutes;Clostridia',
  'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI',
  'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Anaerococcus',
  'Bacteria;Firmicutes;Clostridia;Clostridiales;Ruminococcaceae',
  'Bacteria;Actinobacteria;Actinobacteria;Actinomycetales;Corynebacteriaceae',
  'Bacteria;Actinobacteria;Actinobacteria;Actinomycetales;Actinomycetaceae',
  'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Anaerococcus',
  'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Anaerococcus',
  'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Anaerococcus',
  'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI',
  'Bacteria',
  'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Anaerococcus',
  'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Anaerococcus',
  'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Anaerococcus',
  'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Anaerococcus',
  'Bacteria;Actinobacteria;Actinobacteria;Actinomycetales',
  'Bacteria',
  'Bacteria;Firmicutes',
  'Bacteria',
  'Bacteria',
  'Bacteria;Bacteroidetes;Bacteroidia;Bacteroidales;Porphyromonadaceae;Porphyromonas',
  'Bacteria',
  'Bacteria;Bacteroidetes;Bacteroidia;Bacteroidales;Porphyromonadaceae;Porphyromonas',
  'Bacteria;Firmicutes',
  'Bacteria;Firmicutes',
  'Bacteria;Firmicutes',
  'Bacteria',
  'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI',
  'Bacteria;Firmicutes;Clostridia',
  'Bacteria;Firmicutes;Clostridia',
  'Bacteria',
  'Bacteria;Firmicutes;Clostridia;Clostridiales',
  'Bacteria',
  'Bacteria;Firmicutes;Clostridia;Clostridiales',
  'Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI',
  'Bacteria',
  'Bacteria']}