In [11]:
# SQL Alchemy
import pandas as pd

from sqlalchemy import create_engine
from sqlalchemy import inspect

database_path = "db/bigfoot.sqlite"

In [7]:
# Create Engine
engine = create_engine(f"sqlite:///{database_path}")

# Create the inspector and connect it to the engine
inspector = inspect(engine)

In [8]:
# Collect the names of tables within the database
inspector.get_table_names()

['bigfoot']

In [12]:
# Conncetion
conn = engine.connect()

# Query All Records in the the Database
data = pd.read_sql("SELECT * FROM bigfoot", conn)

In [13]:
data.head()

,id,number,title,classification,timestamp,latitude,longitude
0,1,637,Report 637: Campers' encounter just after dark...,Class A,2000-06-16T12:00:00Z,61.5000,-142.9000
1,2,2917,Report 2917: Family observes large biped from car,Class A,1995-05-15T12:00:00Z,55.1872,-132.7982
2,3,7963,Report 7963: Sasquatch walks past window of ho...,Class A,2004-02-09T12:00:00Z,55.2035,-132.8202
3,4,9317,"Report 9317: Driver on Alcan Highway has noon,...",Class A,2004-06-18T12:00:00Z,62.9375,-141.5667
4,5,13038,Report 13038: Snowmobiler has encounter in dee...,Class A,2004-02-15T12:00:00Z,61.0595,-149.7853