In [71]:
import pandas as pd

In [72]:
df_budget = pd.read_csv("Resources/budget_data.csv")

In [73]:
df_budget.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [74]:
months = df_budget["Date"].count()

In [75]:
net_total = "$" + str(df_budget['Profit/Losses'].sum())

In [76]:
average = "$" + str(int(df_budget['Profit/Losses'].mean()))

In [77]:
max_increase = df_budget["Profit/Losses"].max()
max_date = df_budget.loc[df_budget["Profit/Losses"] == max_increase, "Date"].values[0]

In [78]:
max_decrease = df_budget["Profit/Losses"].min()
min_date = df_budget.loc[df_budget["Profit/Losses"] == max_decrease, "Date"].values[0]

In [79]:
max_decrease

-1196225

In [82]:
print("Financial Analysis")
print("-------------------------------------")
print(f"Total Months: {months}")
print(f"Total: {net_total}")
print(f"Average Change: {average}")
print(f"Greatest increase in profits: ${max_increase} on {max_date}")
print(f"Greatest loss in profits: ${max_decrease} on {min_date}")

Financial Analysis
-------------------------------------
Total Months: 86
Total: $38382578
Average Change: $446309
Greatest increase in profits: $1170593 on Feb-2012
Greatest loss in profits: $-1196225 on Sep-2013

In [83]:
file = open("report.txt", "w") 
file.write("Financial Analysis \n")
file.write("------------------------------------- \n")
file.write(f"Total Months: {months} \n")
file.write(f"Total: {net_total} \n")
file.write(f"Average Change: {average} \n")
file.write(f"Greatest increase in profits: ${max_increase} on {max_date} \n")
file.write(f"Greatest loss in profits: ${max_decrease} on {min_date} \n") 
file.close()