In [22]:
import requests
import pymongo
import pandas as pd
from splinter import Browser
from bs4 import BeautifulSoup as bs

In [131]:
# Initiate
executable_path = {'executable_path': 'C:\\localref\\chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

## NASA News Article

In [29]:
# Scrape
url = 'https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'
browser.visit(url)
html = browser.html
soup = bs(html, 'html.parser')

In [30]:
# Pull all articles
results = soup.find_all('li', class_='slide')

In [31]:
# Get title of first article and teaser paragraph
title = results[0].find('h3').text
teaser = results[0].find('div', class_='article_teaser_body').text

In [32]:
title

"NASA's Curiosity Rover Finds an Ancient Oasis on Mars"

In [33]:
teaser

"New evidence suggests salty, shallow ponds once dotted a Martian crater — a sign of the planet's drying climate."

## JPL Image

In [56]:
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)
html = browser.html
soup = bs(html, 'html.parser')

In [57]:
results = soup.find('div', class_='carousel_items')

In [58]:
# Super ugly method for getting url that's buried in the tag...
image_1 = 'https:/www.jpl.nasa.gov'
image_2 = results.article["style"].split(" ")[1].replace('(', ',').replace(')', ',').replace("'", ",").split(',')[2]

featured_image_url = image_1 + image_2

In [59]:
featured_image_url

'https:/www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA17900-1920x1200.jpg'

## Mars Weather

In [38]:
url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url)
html = browser.html
soup = bs(html, 'html.parser')

In [39]:
results = soup.find_all('p', class_='TweetTextSize TweetTextSize--normal js-tweet-text tweet-text')

In [54]:
mars_weather = results[0].text.rsplit(' ', 1)[0]+" hpa"

In [55]:
print(mars_weather)

InSight sol 307 (2019-10-08) low -102.0ºC (-151.6ºF) high -26.8ºC (-16.3ºF)
winds from the SSE at 4.9 m/s (11.1 mph) gusting to 18.4 m/s (41.1 mph)
pressure at 7.20 hpa

## Mars Facts

In [66]:
url = 'https://space-facts.com/mars/'

In [67]:
mars_facts_tables = pd.read_html(url)

In [68]:
table_df = mars_facts_tables[1]

In [69]:
table_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [63]:
html_table = table_df.to_html(classes="table table-striped")

In [72]:
print(html_table)

<table border="1" class="dataframe table table-striped">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Equatorial Diameter:</td>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Polar Diameter:</td>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Mass:</td>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Moons:</td>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Orbit Distance:</td>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Orbit Period:</td>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Surface Temperature:</td>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <th>7</th>
      <td>First Record:</td>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Recorded By:</td>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

## Mars Hemispheres

In [132]:
hemispheres = []

urls = ['https://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_enhanced',
        'https://astrogeology.usgs.gov/search/map/Mars/Viking/schiaparelli_enhanced',
        'https://astrogeology.usgs.gov/search/map/Mars/Viking/syrtis_major_enhanced',
        'https://astrogeology.usgs.gov/search/map/Mars/Viking/valles_marineris_enhanced']

for url in urls:
    hemi_dict = {}
    
    browser.visit(url)
    html = browser.html
    soup = bs(html, 'html.parser')
    
    # Find image title
    title_results = soup.find('h2', class_='title')
    title = title_results.text
    
    # Find image link
    for url in soup.find_all('img'):
        if 'wide-image' in str(url):
            img_url = 'https://astrogeology.usgs.gov' + url['src']
            print(img_url)
    
    hemi_dict['title'] = title
    hemi_dict['img_url'] = img_url
    hemispheres.append(hemi_dict)

https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg
https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg
https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg
https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg