In [185]:
import pandas as pd
import numpy as np
from sklearn.neighbors import NearestNeighbors

# Set pandas to display numbers with commas
pd.options.display.float_format = '{:,}'.format

## Import and Clean Data

In [186]:
# import and clean data

pluto_df = pd.read_csv("pluto.csv")
pluto_df.sort_values(by="zipcode", inplace=True)
pluto_df = pluto_df.reset_index(drop=True).copy()
pluto_df.dropna(inplace=True)
pluto_df.head()

   zipcode borough  borocode  landuse  bldgarea
0 10,001.0      MN       1.0      5.0 611,625.0
1 10,001.0      MN       1.0      4.0  13,489.0
2 10,001.0      MN       1.0      5.0  34,000.0
3 10,001.0      MN       1.0     11.0       0.0
4 10,001.0      MN       1.0      5.0   2,008.0

In [187]:
#One hot encoding for landuse

dummy_df = pd.get_dummies(pluto_df.landuse)
pluto_df.drop("landuse", axis=1, inplace=True)
data_df = pluto_df.join(dummy_df)
data_df.head()

,zipcode,borough,borocode,bldgarea,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,11.0
0,"10,001.0",MN,1.0,"611,625.0",0,0,0,0,1,0,0,0,0,0,0
1,"10,001.0",MN,1.0,"13,489.0",0,0,0,1,0,0,0,0,0,0,0
2,"10,001.0",MN,1.0,"34,000.0",0,0,0,0,1,0,0,0,0,0,0
3,"10,001.0",MN,1.0,0.0,0,0,0,0,0,0,0,0,0,0,1
4,"10,001.0",MN,1.0,"2,008.0",0,0,0,0,1,0,0,0,0,0,0

In [188]:
# Associate bldgarea with landuse values

cols = [1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0]
for col in cols:
    data_df[col] = data_df[col] * data_df.bldgarea
data_df.drop("bldgarea", axis=1, inplace=True)
data_df.head()

,zipcode,borough,borocode,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,11.0
0,"10,001.0",MN,1.0,0.0,0.0,0.0,0.0,"611,625.0",0.0,0.0,0.0,0.0,0.0,0.0
1,"10,001.0",MN,1.0,0.0,0.0,0.0,"13,489.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,"10,001.0",MN,1.0,0.0,0.0,0.0,0.0,"34,000.0",0.0,0.0,0.0,0.0,0.0,0.0
3,"10,001.0",MN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,"10,001.0",MN,1.0,0.0,0.0,0.0,0.0,"2,008.0",0.0,0.0,0.0,0.0,0.0,0.0

In [189]:
# Create summary data

data_df.drop("borough", axis=1, inplace=True)
landuse_df = data_df.groupby("zipcode").agg({'borocode':'median',
                                                1.0:'sum',
                                                2.0:'sum',
                                                3.0:'sum',
                                                4.0:'sum', 
                                                5.0:'sum',
                                                6.0:'sum',
                                                7.0:'sum',
                                                8.0:'sum',
                                                9.0:'sum',
                                                10.0:'sum',
                                                11.0:'sum'})
landuse_df.reset_index(inplace=True)
landuse_df.head()

,zipcode,borocode,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,11.0
0,"10,001.0",1.0,"33,606.0","592,289.0","8,350,224.0","13,875,477.0","53,005,101.0","4,445,633.0","1,182,594.0","10,895,555.0","1,152,624.0","616,150.0",0.0
1,"10,002.0",1.0,"51,117.0","1,938,379.0","16,618,352.0","16,356,822.0","3,200,967.0","1,182,700.0","590,077.0","4,618,645.0","87,067.0","252,263.0",0.0
2,"10,003.0",1.0,"515,395.0","3,786,590.0","12,746,613.0","15,687,708.0","10,760,299.0","714,504.0","3,459.0","9,501,989.0","126,922.0","159,151.0",0.0
3,"10,004.0",1.0,0.0,0.0,"725,023.0","4,194,913.0","21,117,265.0","85,472.0","462,543.0","3,722,844.0","945,425.0","87,775.0",0.0
4,"10,005.0",1.0,0.0,0.0,"2,480,663.0","5,683,041.0","16,515,733.0",0.0,"682,450.0","43,568.0",0.0,0.0,0.0

In [190]:
# Relabel borocode so easy to remember (had to drop above b/c groupby only accepts numeric columns)

boro_dict = {"MN": 1.0, 
             "BX": 2.0, 
             "BK": 3.0, 
             "QN": 4.0, 
             "SI": 5.0}

def relabel(num):
    boros = list(boro_dict.keys())
    values = list(boro_dict.values())    
    return boros[values.index(num)]

landuse_df['borocode'] = landuse_df['borocode'].apply(relabel)

In [191]:
cols_dict = {1.0: "1,2 Family Resi",
             2.0: "Multi-Fam Walk-up",
             3.0: "Multi-Fam Elevator",
             4.0: "Mixed Resi/Comm",
             5.0: "Comm & Office",
             6.0: "Industrial",
             7.0: "Transport",
             8.0: "Public",
             9.0: "Open Space",
             10.0: "Parking",
             11.0: "Vacant"}

In [192]:
landuse_df.rename(columns = cols_dict, inplace=True)
landuse_df

,zipcode,borocode,"1,2 Family Resi",Multi-Fam Walk-up,Multi-Fam Elevator,Mixed Resi/Comm,Comm & Office,Industrial,Transport,Public,Open Space,Parking,Vacant
0,"10,001.0",MN,"33,606.0","592,289.0","8,350,224.0","13,875,477.0","53,005,101.0","4,445,633.0","1,182,594.0","10,895,555.0","1,152,624.0","616,150.0",0.0
1,"10,002.0",MN,"51,117.0","1,938,379.0","16,618,352.0","16,356,822.0","3,200,967.0","1,182,700.0","590,077.0","4,618,645.0","87,067.0","252,263.0",0.0
2,"10,003.0",MN,"515,395.0","3,786,590.0","12,746,613.0","15,687,708.0","10,760,299.0","714,504.0","3,459.0","9,501,989.0","126,922.0","159,151.0",0.0
3,"10,004.0",MN,0.0,0.0,"725,023.0","4,194,913.0","21,117,265.0","85,472.0","462,543.0","3,722,844.0","945,425.0","87,775.0",0.0
4,"10,005.0",MN,0.0,0.0,"2,480,663.0","5,683,041.0","16,515,733.0",0.0,"682,450.0","43,568.0",0.0,0.0,0.0
5,"10,006.0",MN,0.0,0.0,"2,406,484.0","1,409,933.0","7,224,839.0",0.0,0.0,"237,019.0",0.0,"305,026.0",0.0
6,"10,007.0",MN,"11,515.0","135,365.0","25,180,716.0","7,113,948.0","26,421,102.0","186,711.0","6,565.0","1,964,664.0",0.0,0.0,0.0
7,"10,009.0",MN,"49,533.0","4,551,976.0","7,867,831.0","16,437,543.0","1,094,334.0","132,152.0","175,000.0","1,778,954.0","52,703.0","3,358.0",0.0
8,"10,010.0",MN,"35,514.0","671,530.0","7,188,028.0","14,478,911.0","16,348,068.0","316,637.0","65,745.0","5,288,022.0","20,206.0","84,013.0",0.0
9,"10,011.0",MN,"1,029,569.0","4,471,226.0","14,800,035.0","18,123,314.0","15,296,761.0","1,648,286.0","464,332.0","4,294,146.0","12,323.0","78,016.0",0.0
10,"10,012.0",MN,"145,551.0","1,454,433.0","4,613,138.0","9,531,808.0","6,921,166.0","701,519.0","2,303.0","5,400,219.0",825.0,"81,080.0",0.0
11,"10,013.0",MN,"195,307.0","1,131,087.0","5,779,311.0","56,057,948.0","18,849,057.0","2,494,273.0","277,723.0","4,696,390.0","20,783.0","252,788.0",0.0
12,"10,014.0",MN,"1,491,761.0","4,724,791.0","7,474,829.0","8,185,370.0","10,160,665.0","416,587.0","767,117.0","1,278,432.0","54,398.0","255,804.0",0.0
13,"10,016.0",MN,"326,668.0","1,390,578.0","13,831,161.0","22,955,466.0","29,604,440.0","670,902.0","6,150.0","7,599,194.0","12,406.0","261,082.0",0.0
14,"10,017.0",MN,"147,059.0","102,061.0","6,046,123.0","6,548,307.0","59,741,723.0",0.0,"74,550.0","3,863,733.0",796.0,"61,700.0",0.0
15,"10,018.0",MN,0.0,"291,891.0","3,240,209.0","4,078,905.0","34,754,916.0","4,832,798.0","2,240,173.0","1,651,025.0",0.0,"679,012.0",0.0
16,"10,019.0",MN,"39,569.0","1,841,651.0","12,189,484.0","34,487,557.0","45,803,364.0","473,962.0","777,575.0","5,264,467.0","20,600.0","191,488.0",0.0
17,"10,020.0",MN,0.0,0.0,0.0,"18,000.0","12,212,344.0",0.0,0.0,0.0,0.0,0.0,0.0
18,"10,021.0",MN,"1,585,705.0","1,889,263.0","20,806,893.0","13,542,249.0","1,997,043.0","2,400.0","28,097.0","6,228,936.0",0.0,"222,378.0",0.0
19,"10,022.0",MN,"330,406.0","878,302.0","19,038,305.0","16,970,483.0","47,958,268.0","55,175.0","116,360.0","1,589,981.0",912.0,"206,094.0",0.0
20,"10,023.0",MN,"652,042.0","3,811,309.0","21,279,942.0","25,785,893.0","3,974,104.0",0.0,0.0,"4,571,429.0","58,219.0","62,555.0",0.0
21,"10,024.0",MN,"1,202,774.0","5,475,999.0","24,611,738.0","15,215,282.0","1,321,834.0","103,576.0",0.0,"3,887,400.0","4,700.0","147,492.0",0.0
22,"10,025.0",MN,"500,570.0","4,928,668.0","32,659,777.0","14,682,226.0","1,606,729.0","127,322.0","23,703.0","19,291,758.0","27,963.0","295,453.0",0.0
23,"10,026.0",MN,"329,033.0","3,847,017.0","6,602,068.0","5,660,989.0","166,654.0",0.0,0.0,"1,381,636.0",0.0,0.0,0.0
24,"10,027.0",MN,"1,085,095.0","6,163,938.0","12,757,706.0","8,258,381.0","3,931,787.0","642,528.0","490,568.0","11,486,677.0","43,361.0","215,066.0",0.0
25,"10,028.0",MN,"737,330.0","3,314,081.0","18,255,253.0","13,731,428.0","433,476.0","44,183.0","18,930.0","1,476,654.0","7,500.0","54,731.0",0.0
26,"10,029.0",MN,"111,917.0","3,591,936.0","17,265,845.0","12,794,749.0","975,600.0","378,725.0","216,324.0","10,062,118.0","24,487.0","676,748.0",0.0
27,"10,030.0",MN,"774,088.0","4,628,963.0","3,004,654.0","4,303,357.0","110,686.0",0.0,0.0,"1,341,992.0","1,410.0","56,356.0",0.0
28,"10,031.0",MN,"1,242,521.0","6,383,009.0","9,886,916.0","5,265,342.0","453,007.0","222,311.0","26,017.0","3,936,851.0","13,600.0","46,200.0",0.0
29,"10,032.0",MN,"345,169.0","5,406,723.0","9,011,038.0","7,150,092.0","510,310.0","24,714.0","24,170.0","11,198,145.0","258,931.0","671,660.0",0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
182,"11,411.0",QN,"6,888,611.0","88,292.0",0.0,"70,619.0","299,776.0",0.0,"6,653.0","682,868.0",0.0,0.0,0.0
183,"11,412.0",QN,"12,250,978.0","340,837.0","154,824.0","736,562.0","344,338.0","527,030.0","84,582.0","1,006,467.0",612.0,"3,242.0",0.0
184,"11,413.0",QN,"13,998,504.0","353,908.0",0.0,"182,737.0","752,809.0","1,949,320.0","62,229.0","1,174,929.0","9,656.0","4,900.0",0.0
185,"11,414.0",QN,"9,751,254.0","2,245,988.0","2,090,642.0","289,219.0","892,523.0","1,400.0","3,006.0","504,989.0","8,044.0",800.0,0.0
186,"11,415.0",QN,"1,782,564.0","1,322,692.0","5,196,781.0","1,759,878.0","994,338.0","34,487.0","4,705.0","780,491.0","20,303.0","4,902.0",0.0
187,"11,416.0",QN,"4,808,177.0","1,499,972.0",0.0,"883,024.0","576,513.0","466,978.0","141,183.0","701,896.0",904.0,"24,385.0",0.0
188,"11,417.0",QN,"7,554,870.0","1,579,158.0",0.0,"733,693.0","568,005.0","468,406.0","80,598.0","1,244,651.0","69,755.0","33,567.0",0.0
189,"11,418.0",QN,"6,989,644.0","2,473,063.0","1,892,226.0","1,718,639.0","1,267,287.0","1,583,916.0","75,974.0","1,968,887.0",0.0,"101,247.0",0.0
190,"11,419.0",QN,"9,880,447.0","1,641,139.0","46,760.0","1,477,640.0","686,233.0","160,051.0","49,411.0","626,089.0",900.0,"3,138.0",0.0
191,"11,420.0",QN,"12,498,809.0","651,728.0",0.0,"684,550.0","511,211.0","53,846.0","76,802.0","1,159,866.0","2,058,532.0","3,024.0",0.0
192,"11,421.0",QN,"8,803,973.0","2,132,043.0","1,243,736.0","1,273,895.0","296,284.0","82,028.0","22,221.0","455,308.0","27,240.0","3,700.0",0.0
193,"11,422.0",QN,"9,791,071.0","912,028.0",0.0,"185,024.0","630,759.0","81,696.0","13,017.0","613,022.0","1,125.0","7,660.0",0.0
194,"11,423.0",QN,"8,087,531.0","1,216,244.0","1,678,238.0","648,308.0","419,783.0","1,026,553.0","94,138.0","839,545.0","1,360.0","70,060.0",0.0
195,"11,426.0",QN,"5,968,291.0","925,217.0","263,883.0","140,416.0","419,374.0","137,706.0","12,273.0","1,077,723.0","1,511.0","4,092.0",0.0
196,"11,427.0",QN,"6,473,320.0","2,439,732.0","437,087.0","156,580.0","194,145.0",0.0,"5,985.0","2,444,529.0","8,832.0","2,200.0",0.0
197,"11,428.0",QN,"5,666,382.0","413,322.0","200,737.0","619,449.0","486,854.0","123,195.0","54,336.0","781,900.0",0.0,"1,560.0",0.0
198,"11,429.0",QN,"7,973,836.0","250,522.0","98,116.0","286,292.0","295,565.0","452,708.0","320,215.0","569,612.0",800.0,"14,225.0",0.0
199,"11,430.0",QN,0.0,0.0,0.0,0.0,"145,538.0","42,400.0","17,280,787.0","29,000.0",0.0,"1,575.0",0.0
200,"11,432.0",QN,"9,994,580.0","1,929,693.0","7,378,154.0","4,107,566.0","2,917,690.0","11,270.0","16,398.0","10,079,934.0","1,000.0","347,427.0",0.0
201,"11,433.0",QN,"7,905,595.0","1,137,226.0","1,509,858.0","679,882.0","2,593,100.0","2,103,300.0","335,764.0","2,414,571.0","12,590.0","303,009.0",0.0
202,"11,434.0",QN,"14,424,636.0","420,494.0","8,870,953.0","528,147.0","1,808,663.0","2,275,456.0","179,473.0","2,814,011.0","56,693.0","269,331.0",0.0
203,"11,435.0",QN,"7,263,755.0","3,191,866.0","6,810,531.0","2,655,828.0","2,468,101.0","952,046.0","171,412.0","2,453,715.0","42,550.0","164,576.0",0.0
204,"11,436.0",QN,"5,577,045.0","76,479.0",0.0,"171,534.0","919,551.0","20,928.0","10,334.0","688,660.0",600.0,0.0,0.0
205,"11,691.0",QN,"9,979,445.0","2,379,913.0","9,220,076.0","1,378,914.0","904,570.0","387,791.0","141,782.0","3,118,445.0","22,917.0","15,738.0","4,168.0"
206,"11,692.0",QN,"4,017,419.0","536,551.0","3,390,311.0","312,001.0","139,526.0","82,475.0","43,445.0","632,900.0","75,638.0","49,304.0",0.0
207,"11,693.0",QN,"2,007,137.0","497,075.0","3,057,924.0","167,249.0","191,077.0","297,651.0",0.0,"382,212.0","66,441.0","16,344.0",0.0
208,"11,694.0",QN,"6,462,296.0","1,523,505.0","2,726,703.0","568,939.0","577,988.0","37,309.0","27,067.0","1,570,910.0",0.0,"4,500.0",0.0
209,"11,695.0",QN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"62,000.0",0.0,0.0
210,"11,697.0",QN,"2,411,300.0",0.0,0.0,0.0,0.0,0.0,0.0,"261,550.0","12,252,000.0",0.0,0.0
211,"12,345.0",MN,0.0,0.0,0.0,"25,456.0",0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Find Nearest Neighbor

In [193]:
# Split DFs so that selected outer-borough zipcode can find nearest neighbor zip in Manhattan
manhattan_df = landuse_df[landuse_df.borocode == "MN"]
outer_boro_df = landuse_df[landuse_df.borocode != "MN"]

In [194]:
# Specify target zipcode

#zipcode = 11101 #Long Island City, QNS
#zipcode = 11104 #Sunnyside, QNS
#zipcode = 11355 #Flushing, QNS
#zipcode = 11201 #Brooklyn Heights, BK
zipcode = 10304 #Todt Hill, SI

In [195]:
# Pull out target zipcode from outer_boro_df
query_zip = outer_boro_df[outer_boro_df.zipcode == zipcode]

# Combine with Manhattan df to train model
train_data = pd.concat([query_zip, manhattan_df])

# Drop column with strings and reset index
train_data.drop("borocode", axis=1, inplace=True)
train_data.reset_index(drop=True, inplace=True)

In [196]:
# Train Nearest Neighbors model

nbrs = NearestNeighbors(n_neighbors=2, algorithm='ball_tree').fit(train_data)
distances, indices = nbrs.kneighbors(train_data)

In [197]:
nearest_neighbor_index = indices[0][1]

In [198]:
train_data.iloc[nearest_neighbor_index, :]

zipcode                 10,030.0
1,2 Family Resi        774,088.0
Multi-Fam Walk-up    4,628,963.0
Multi-Fam Elevator   3,004,654.0
Mixed Resi/Comm      4,303,357.0
Comm & Office          110,686.0
Industrial                   0.0
Transport                    0.0
Public               1,341,992.0
Open Space               1,410.0
Parking                 56,356.0
Vacant                       0.0
Name: 28, dtype: float64

In [199]:
query_zip

,zipcode,borocode,"1,2 Family Resi",Multi-Fam Walk-up,Multi-Fam Elevator,Mixed Resi/Comm,Comm & Office,Industrial,Transport,Public,Open Space,Parking,Vacant
72,"10,304.0",SI,"14,242,428.0","1,899,750.0","3,222,559.0","1,417,842.0","1,085,077.0","435,189.0","70,512.0","2,456,708.0","65,787.0","29,529.0",0.0